@import 'includes/values';
@import 'includes/mixins';
//@import 'includes/testing';

@import 'parts/code-highlight.scss';

#page-title {
	@media #{$media-query-phone} {
		font-size: 1.6rem;
	}
}

.main {
	$max-width: 1080px;
	$content-max-width: $max-width * 0.7;
	$sidebar-max-width: $max-width * 0.3;

	padding: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: $max-width;

	> .content-header {
		flex-shrink: 0;
		margin-right: auto;
	}

	> .content-header,
	> .content,
	> aside, > .sidebar {
		box-sizing: border-box;
		padding: 0 $main-content-padding;
	}

	> .content-header, > .content {
		width: 70%;
		max-width: $content-max-width;
	}

	> aside, > .sidebar {
		width: 30%;
		max-width: $sidebar-max-width;
		text-align: left;
	}

	> .content .share-buttons-block {
		display: block;
		text-align: center;
	}

	> aside, > .sidebar {
		border-left: 1px solid $color-border-light;
		font-size: 0.9rem;
		position: relative;

		> div {
			margin: 1rem 0;
			display: block;

			ul {
				margin: 0;
			}
		}

		.input-search {
			max-width: $sidebar-max-width;
		}

		.links-list-block {
			padding: 0 0.5em;
			margin-top: 0.5em;
			list-style: none;

			li {
				line-height: 1.4em;
				margin-bottom: 0.6em;
			}

			.more-link {
				//margin-top: 1em;
				text-align: right;
			}
		}

		.share-buttons-block {
			text-align: center;
			/*h3 {
				text-align: left;
			}*/
		}
	}

	@media #{$media-query-tablet}, #{$media-query-phone} {
		flex-direction: column;
		align-items: stretch;
		margin-bottom: 8px;
		> .content, > .sidebar {
			width: auto;
			max-width: none;
		}

		> .content {
			margin-bottom: 2em;
		}
	}

}

/* Written on ... by ... */
.post-meta {
	color: $text-color-secondary;
	text-align: initial;
}

.more-link {
	white-space: nowrap;
	@extend %noselect;
}

.date {
	white-space: nowrap;
	font-family: $accent-font;
}

.post-summary {
	margin-bottom: $main-content-padding;

	header {
		text-align: left;

		> * {
			display: inline-block;
			padding-right: 8px;
			vertical-align: bottom;
		}

		h2 {
			margin-bottom: 0.1em;
		}
	}

	.date {
		color: $text-color-secondary;
		font-size: 90%;
	}

	.more-link {
		text-align: right;
	}

	footer {
		text-align: left;
		font-size: 0.85rem;

		> * {
			display: inline-block;
			margin: 0 0.2em;
		}
	}
}

/*.tags {
	background-color: $color-accent-secondary-fg;
	color: $color-accent-secondary;
	border: 1px solid $color-accent-secondary;
	border-radius: 4px;

	font-size: 0.7rem;
	line-height: 1.8em;
	display: inline-block;

	> * {
		float: left;
		border-right: 1px solid $color-accent-secondary;
		text-decoration: none;
		padding: 0 0.5em;
		vertical-align: bottom;

		&:last-child {
			border-right: none;
		}

		&:hover {
			background-color: $color-accent-secondary;
			color: $color-accent-secondary-fg;
		}
	}
}*/

.tags  {
	display: inline-block;
	> a {
		margin: 0 0.1em;
		&::before {
			content: '#';
		}
	}
}

@import 'parts/paginator';



#post-footer {
	margin-top: $main-content-padding;
	text-align: left;

	> div {
		display: block;
		margin: $main-content-padding/2 0;
	}

	.post-info {
		padding-bottom: $main-content-padding/2;
		border-bottom: 1px solid $color-border-light;
	}

	.following-pages-paginator {
		position: relative;
		display: flex;
		flex-wrap: wrap;

		.posterior, .previous {
			position: relative;
			flex-grow: 1;
			min-width: 30%;
			box-sizing: border-box;
			padding: 0 1em;
		}

		.previous {
			text-align: right;
		}

		.posterior {
			text-align: left;
		}
	}
}


.input-search {
	white-space: nowrap;
	display: block;
	display: table;

	$height: 2rem;
	width: 100%;
	margin: 1rem auto;

	input {
		display: inline-block;
		display: table-cell;
		height: $height;
		line-height: $height;
		font-size: $height * 0.4;

		vertical-align: top;
		box-sizing: border-box;

		transition-duration: .2s;
		transition-property: background-color, border-color;
	}

	%active {
		background-color: $color-accent-secondary;
		color: $text-color-accent-secondary;
		outline: none;
	}

	input[type='search'] {
		padding: 0 1em;
		width: calc(100% - #{$height});

		border: 1px solid $color-accent-primary;
		border-right: none;
		background-color: $color-background;
		color: $text-color-secondary;

		&:focus {
			outline: none;
			border-color: $color-accent-secondary;
			color: $text-color;

			& + input[type='button'],
			& + input[type='submit'] {
				@extend %active;
			}
		}
	}

	input[type='button'],
	input[type='submit'] {
		width: $height;
		font-size: 0px;
		border: none;
		background: $color-accent-primary url('../../assets/icons/search.svg');
		background-size: $height * 0.6;
		background-position: ($height * 0.2) ($height * 0.2);
		background-repeat: no-repeat;

		cursor: pointer;

		&:hover, &:active {
			@extend %active;
		}
	}
}
