@import 'includes/values';

#header {
	$header-background-color: #111111;
	position: relative;
	background-color: $header-background-color;
	border-bottom: 1px solid #000000;
	box-shadow: 0 2px 8px rgba(#000,.5);

	> * {
		position: relative;
		z-index: 1;
	}

	&-background {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		padding: 0;
		opacity: 0;
		transition: opacity 1s;
	}

	&-profile-photo {
		width: 140px;
		height: 140px;
		border-radius: 50%;
		box-shadow: 2px 1px 4px rgba(#000,.2);
		margin: 8px;
		background-color: #506379;

		@media #{$media-query-phone} {
			width: 100px;
			height: 100px;
		}
	}

	&-content {
		padding: 32px 0;
		text-align: center;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		pointer-events: none;

		h1 {
			text-decoration: none;
			text-align: center;
			margin: 32px 0;
			line-height: 0px;
			font-size: 3rem;

			span {
				line-height: 1.25em;
				height: 1.25em;
				padding: 0 .3em;
				white-space: nowrap;
				display: inline-block;

				background-color: $color-light;
				color: desaturate($text-color, 90%);
			}

			@media #{$media-query-tablet} {
				font-size: 2.2rem;
				// margin-bottom: 0;
			}
			@media #{$media-query-phone} {
				font-size: 1.6rem;
				margin: 16px 0;
			}
		}

		#header-quote-caret {
			padding-left: 0px;
			padding-right: 0px;
			vertical-align: bottom;
			background-color: transparent;

			@extend %noselect;
		}
	}

	#nav > ul li a {
		color: readable-text-color($header-background-color);

		&::after {
			background-color: readable-text-color($header-background-color);
		}
	}

	&::before {
		display: none;
	}
}

@import 'parts/projects-showcase';
