<header id="header">
	<canvas id="header-background"></canvas>

	{% include nav/main_nav_menu.html %}

	<div id="header-content">
			<img id="header-profile-photo"
				src="https://github.com/{{site.data.author.usernames.github}}.png"
				onerror="this.src='{{ site.baseurl }}/assets/profile.png';"
				alt="Profile photo" height="140" width="140"/>
		<h1>
			<span>I am Germán&nbsp;Franco.</span><br/>
			<span id="header-quote">{{site.data.author.self_description}}</span>
		</h1>
	</div>

</header>
