x-skeleton, .skeleton {
	background: rgba($gray-600, .4);
	border: none;
	outline: none;

	height: auto;
	width: fit-content;
	display: block;

	animation: 2s skeleton-pulse-animation infinite;

	color: transparent;
	user-select: none;
	> * {
		visibility: hidden;
		opacity: 0;
	}
}

x-skeleton[color=secondary], .skeleton.bg-secondary {
	background: rgba($gray-600, .25);
}

x-skeleton[variant=circle], .skeleton-circle {
	border-radius: 50%;
}

x-skeleton[variant=text], .skeleton-text {
	min-width: 1rem;
	min-height: 1.75ex;
	border-radius: $border-radius-sm;
	display: inline-block;
}


@keyframes skeleton-pulse-animation {
	0%, 100% {
		opacity: 1;
	}

	50% {
		opacity: .75;
	}
}
