.social-buttons-container {
	pointer-events: auto;
	display: flex;
	justify-content: center;
}

.social-button {
	$social-networks: (github, twitter, linkedin, liam, feed, telegram, reddit, dribbble);

	$size: $font-size-base * 2;
	height: $size;
	width: $size;
	margin: map-get($spacers, 1);
	display: inline-block;
	border-radius: 50%;
	font-size: 0;

	@mixin social-button-bg($size: 32px, $theme: 0) {
		// Add in the same order as in social.svg
		background-image: url('/assets/social.svg');

		$count: 0;
		$y_base: -$size * $theme;
		@each $network in $social-networks {
			&.#{$network} {
				background-position: -($count * $size) $y_base;
				background-size: auto 200%;
			}
			$count: $count + 1;
		}

		// Same icon with two name correspondences requires extra handling
		&.mail {
			$mail-index: index($social-networks, liam) - 1; // index starts on 1
			background-position: -($mail-index * $size) $y_base;
		}
	}


	@include social-button-bg($size, 1);
	&.dark {
		@include social-button-bg($size, 0);
	}

	box-shadow: 0 0 0 0 rgba(#fff, 0);
	transition: .4s box-shadow;

	&:focus, &:hover {
		outline: none;
		box-shadow: 0 0 0 #{$size/16} rgba(#fff, 0.5);
	}




	.page-header & {
		will-change: opacity, transform;
		transform: scale(0);
		opacity: 0;

		$transition-duration: .45s;
		animation: social-buttons-show $transition-duration forwards;

		@for $i from 1 through length($social-networks) {
			&:nth-child(#{$i}) {
				animation-delay: $i * $transition-duration / 4;
			}
		}
	}
}

@keyframes social-buttons-show {
	50% {
		transform: scale(1.25);
		opacity: .9;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
