{% if include.max == null %}
	{% assign max_posts = site.paginate %}
{% else if include.max > 0 %}
	{% assign max_posts = include.max %}
{% else %}
	{% assign max_posts = 8 %}
{% endif %}

{% capture block_contents %}
	{% assign count = 0 %}
	{% if site.posts.size > 0 and max_posts > 0 %}
		<ul class="links-list-block">
		{% for post in site.posts %}
			{% if post.starred %}
				<li><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{ post.title }}</a></li>
				{% assign count = count | plus: 1 %}
				{% unless count < max_posts %}
					{% break %}
				{% endunless %}
			{% endif %}
		{% endfor %}
		{% comment %} Cannot know if there are more starred unless there are no more posts {% endcomment %}
		{% if count > 0 and count < site.posts.size %}
			<li class="more-link"><a href="{{ site.baseurl }}/blog/starred/">View all</a></li>
		{% endif %}
		</ul>
	{% endif %}
{% endcapture %}
{% if count > 0 %}
<div>
	<h3><a href="{{ site.baseurl }}/blog/starred/">Highlights</a></h3>
	{{ block_contents }}
</div>
{% endif %}
