{% comment %}
	Reads menu entries from _data/menu.yml
{% endcomment %}
{% if page.url != "/" and page.url != "/index.html" %}
	{% assign not_index_page = true %}
{% endif %}
{% assign n_entries = site.data.menu | size %}

<ul {% if include.classname %}class="{{ include.classname }}" {% endif %}>
	{% if not_index_page %}
		<li>
			<a class="root-entry" href="{{ site.baseurl }}/">Home</a>
		</li>{% if n_entries > 0 %}<li>{% endif %}
	{% else %}
		{% comment %}{% endcomment %}
		{% if n_entries > 0 %}<li>{% endif %}
	{% endif %}

	{% for entry in site.data.menu %}
		{% assign url = entry.url %}
		{% assign url_first_char = url | slice: 0 %}
		{% if not_index_page or url_first_char != '#' %}
			{% if url_first_char != '/' %}
				{% assign url = url | prepend: '/' %}
			{% endif %}
			{% assign url = url | prepend: site.baseurl %}
		{% endif %}

			<a class="root-entry" href="{{ url }}">{{ entry.name }}</a>
		</li>{% unless forloop.last %}<li>{% endunless %}
	{% endfor %}
</ul>
