<footer id="footer">
	<div id="sup-footer">
		<div id="social">
			<p>Find me on:</p>
			<a class="social-button gplus light"
			   rel="external"
			   href="https://plus.google.com/{{site.data.author.usernames.gplus}}/"
			   title="Follow me on Google+"></a>
			<a class="social-button twitter light"
			   rel="external"
			   href="http://twitter.com/{{site.data.author.usernames.twitter}}"
			   title="Follow me on Twitter"></a>
			<a class="social-button github light"
			   rel="external"
			   href="http://github.com/{{site.data.author.usernames.github}}/"
			   title="Follow me on GitHub"></a>
			<a class="social-button liam light"
			   href="mailto:{{ site.data.author.email }}"
			   title="Send me an email"></a>
			<a class="social-button feed light"
			   href="{{ site.baseurl }}{{ site.feed.path }}"
			   title="Subscribe to my Feed"></a>
		</div>
		<div>
			{% include nav/menu_list.html classname="link-list horizontal"%}
			<!--<ul class="link-list horizontal">
				<li><a>About this site</a></li><li>
				<a>Behind the scenes</a></li>
			</ul>-->
		</div>
	</div>
	<div id="sub-footer">
		<div>
			<i>Last updated: {% include functions/site_date.html %}</i>
		</div>
		<div>
			<a href="#header">Back to top</a>
		</div>
		<div>
			Site hosted by <a href="http://github.com/" target="_blank" title="Go to GitHub site" rel="external nofollow">GitHub</a> pages.
		</div>
	</div>
</footer>
