@import '../includes/values';

#footer {
	$footer-bg-color: $color-background-dark;
	$footer-text-color: readable-text-color($footer-bg-color);

	color: $footer-text-color;
	background-color: $footer-bg-color;
	margin-top: 64px;
	box-sizing: border-box;
	position: relative;

	// Sections
	> div {
		padding: 16px;
		text-align: center;
	}

	a, a:link, a:visited {
		color: $color-link-highlight;

		&:hover, &:active {
			color: $color-link;
		}
	}

	#sup-footer {

		> div {
			margin: 8px 0px;
		}

		#social {
			cursor: default;
		}

		ul.link-list {
			cursor: default;
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 0.9rem;

			&.horizontal {
				li {
					display: inline-block;
					margin: 0 8px;
					vertical-align: middle;

					&::after {
						content: ' |';
						margin-left: 8px;
						color: $footer-text-color;
						vertical-align: middle;
					}

					&:last-child::after {
						display: none;
					}
				}

				a {
					color: $footer-text-color;
					&:hover {
						color: $color-link-highlight;
					}
				}
			}

			&.vertical { }
		}
	}


	#sub-footer {
		background-color: darken($footer-bg-color, 5%);
		color: darken($footer-text-color, 5%);
		font-size: .8rem;
		line-height: 1.2em;
		position: relative;

		$ncolumns: 3;
		display: block;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: stretch;

		// Columns
		> div {
			position: relative;
			width: (100%) / $ncolumns;
			padding: 0 16px;
			box-sizing: border-box;
			flex-shrink: 0;
			text-align: center;

			&:nth-child(#{$ncolumns}n - #{$ncolumns - 1}) {
				text-align: left;
			}

			&:nth-child(3n) {
				text-align: right;
			}

			@media #{$media-query-phone} {
				width: 100%;
				display: block;
				text-align: center !important;
				margin: 8px 0;

				&#footer-back-to-top {
					order: $ncolumns;
				}
			}
		}
	}

	&.floating-footer {
		position: absolute;
		bottom: 0;
		left: 0; right: 0;
		width: 100%;
		box-sizing: border-box;
	}
}
