@import '../includes/values';

nav#nav, #nav {
	font-family: $accent-font;
	font-size: 1rem;
	font-weight: bold;
	text-align: right;
	display: block;
	position: relative;

	ul {
		&, li {
			list-style: none;
			display: inline-block;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			position: relative;

			a {
				text-decoration: none;
				color: $text-color;
				display: block;
				position: relative;
				padding: 16px;
				text-align: center;
				transition-property: color, background-color;
				transition-duration: .2s;
				transition-timing-function: linear;

				&:hover {
					//background-color: $primary-color;
					color: $accent-color;
				}

				/*&:focus {
					background-color: $primary-color;
					color: $white;
					outline: none;
				}*/
			}
		}
	}

	/*.nav-selector {
		$height: 4px;
		background-color: $primary-color;
		height: $height;
		width: 100px;
		top: 0;
		left: 0;
		position: absolute;
		z-index: -1;
		opacity: 1;
		transform: scale(1);

		transition-duration: .2s;
		transition-timing-function: ease-in-out;
		transition-property: left, width, top, transform;

		&.hidden {
			transition-property: top, transform;
			top: -$height;
			transform: scale(0);
		}
	}*/
}
