@import '../includes/values';
@import '../includes/mixins';

#project-container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	position: relative;

	text-align: left;
	margin: 32px (-$main-content-padding / 2);


	.project-elem {
		$vpadding: 1em;
		$hpadding: 1.2em;
		position: relative;
		width: 49%;
		margin-bottom: $vpadding;
		padding: $vpadding $hpadding;
		box-sizing: border-box;

		background-color: $color-background;
		border: 1px solid $color-border-light;
		border-radius: 4px;
		cursor: default;

		display: flex;
		flex-direction: column;

		&-description, &-meta {
			font-size: 0.85rem;
		}

		&-description {
			margin: 0.5em 0;
			flex-grow: 1;
		}

		&-meta {
			color: $text-color-secondary;
			> * {
				float: left;
				margin-right: .6em;
			}
		}

		&.github::after {
			content: '';
			$size: 1rem;
			height: $size;
			width: $size;

			position: absolute;
			bottom: $vpadding;
			right: $hpadding;

			background-size: auto $size*2;
			background-position: -(2 * $size) 0;
			background-image: url('../../assets/icons/social.svg');
			opacity: 0.5;

			filter: grayscale(100%);
		}
	}
}
