@import '../includes/values';
@import '../includes/mixins';

#project-container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	position: relative;

	$spacing: 1em;
	margin: $spacing (-$main-content-padding / 2);
	padding: $spacing;
	box-sizing: border-box;

	.project-elem {
		$vpadding: 0.8em;
		$hpadding: 1.2em;

		position: relative;
		width: calc(50% - #{$spacing / 2});
		margin: ($spacing / 2) 0;
		padding: $vpadding $hpadding;
		box-sizing: border-box;

		background-color: $color-background;
		border: 1px solid $color-border-light;
		border-radius: 4px;
		color: $text-color-secondary;
		text-align: left;

		display: flex;
		flex-direction: column;

		&-title {
			align-self: flex-start; // Don't fill width
		}

		&-description, &-meta {
			font-size: 0.85rem;
		}

		&-description {
			margin: 0.5em 0;
			flex-grow: 1; // Grow to align to the largest sibling
		}

		&-meta  > * {
			margin-right: .6em;
		}

		&-language {
			color: $text-color-disabled;
		}

		&.github::after {
			content: '';
			$size: 1rem;
			height: $size;
			width: $size;

			position: absolute;
			bottom: $vpadding;
			right: $hpadding;

			background-size: auto (2 * $size);
			background-position: -(2 * $size) 0;
			background-image: url('../../assets/icons/social.svg');
			opacity: 0.5;
			filter: grayscale(100%);
			pointer-events: none;
		}
	}
}
