* {
	/* Firefox only (for now) */
	scrollbar-width: thin;
	/* scrollbar-color: rgba(100,100,100,.75) rgba(127,127,127,.25); */
}

/* SCROLLBARS */
::-webkit-scrollbar { /* width */
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track { /* Track */
	background: rgba(127,127,127,.25);
}
::-webkit-scrollbar-thumb { /* Handle */
	background: rgba(100,100,100,.75);
	min-height: 32px;
	// border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
	background: rgba(50,50,50,.75);
}
