.social-buttons-container {
	text-align: center;
	pointer-events: auto;
}

.social-button {
	$size: 32px;
	height: $size;
	width: $size;
	margin: 1px 2px;
	display: inline-block;
	border-radius: 50%;

	@mixin social-background($size: 32px, $theme: 0) {
		// Add in the same order as in social.svg
		background-image: url('../../assets/icons/social.svg');
		$social-networks: (other, twitter, github, liam, feed, telegram, reddit, linkedin, dribbble);
		$count: 0;
		$y_base: -$size * $theme;
		@each $network in $social-networks {
			&.#{$network} {
				background-position: -($count * $size) $y_base;
			}
			$count: $count + 1;
		}

		// Same icon with two name correspondences requires extra handling
		&.mail {
			$mail-index: index($social-networks, liam) - 1; // index starts on 1
			background-position: -($mail-index * $size) $y_base;
		}
	}

	@include social-background($size, 0);

	&.light {
		@include social-background($size, 1);
	}

	// opacity: 1;
	// &:hover {
	// 	opacity: 0.8;
	// }
	box-shadow: 0 0 0 0 transparent;
	transition: .4s box-shadow;

	&:focus, &:hover {
		outline: none;
		box-shadow: 0 0 0 2px rgba(#fff, 0.5);
	}
}
