#project-showcase {
  display: block !important; }
  #project-showcase .error-message {
    color: #505667;
    font-style: italic;
    text-align: center; }

#header #header-bg-overlay {
  display: none; }
