<!DOCTYPE html>
<html lang="en">
<head>
	{% if layout.data_head == null %}
		{% include heads/default_head.html %}
	{% else %}
		{% include heads/{{layout.data_head}} %}
	{% endif %}
</head>

<body>
	<div id="wrapper">
			{% if layout.structure_header == null %}
				{% include headers/default_header.html %}
			{% else %}
				{% include headers/{{layout.structure_header}} %}
			{% endif %}

			{{ content }}

		{% include footer.html %}
	</div>

	<script type="text/javascript" src="{{ site.baseurl }}/dist/js/scripts.min.js"></script>
</body>
</html>
