<!DOCTYPE html>
<html lang="en">
<head>
	{% include heads/default_head.html %}
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/dist/css/homepage.min.css" />
</head>

<body>
	<div id="wrapper">
		{% include headers/homepage_header.html %}
		<main class="main">
			{{ content }}
		</main>
		{% include footer.html %}
	</div>

	<script type="text/javascript" src="{{ site.baseurl }}/dist/js/scripts.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/dist/js/homepage.min.js"></script>
</body>
</html>
