@import 'mixins';

$color-light: #FAFAFA; // Has assets dependencies. Change carefully.
$color-dark: #363636;

$color-background: $color-light;
$color-background-dark: #111111;

$text-color: readable-text-color($color-background, $color-dark, $color-light);
$text-color-secondary: hsl(hue($text-color), saturation(desaturate($text-color,25%)), 40%);
$text-color-disabled: lighten(#000, 70%);

$color-accent-primary: #22BA23;
$color-accent-secondary: #8DDA25;
$text-color-accent-primary: readable-text-color($color-accent-primary);
$text-color-accent-secondary: readable-text-color($color-accent-secondary);

$color-link: $color-accent-primary;
$color-link-highlight: $color-accent-secondary;

$color-border-light: #CECECE;
