%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
}

@mixin selection($color: null) {
	@if $color {
		background-color: $color;
		color: readable-text-color($color);
	} @else {
		background-color: $color-accent-secondary;
		color: $text-color-accent-secondary;
	}

	text-shadow: none;
}

@function readable-text-color($color, $dark: $color-dark, $light: $color-light) {
  @if (lightness($color) > 50) {
    @return $dark;
  } @else {
    @return $light;
  }
}
