@import 'colors';
@import 'fonts';

// Other values
$main-content-padding: 32px;

$breakpoint-phone: 480px;
$breakpoint-tablet: 600px;
$media-query-phone: "(max-width: #{$breakpoint-phone - 1})";
$media-query-tablet: "(min-width: #{$breakpoint-phone}) and (max-width: #{$breakpoint-tablet - 1})";
