{% comment %}
<!-- Project element in the showcase section.
	Receives a project structure as parameter -->
{% endcomment %}

{% assign project = include.project %}
<div class="project-elem">
	<!--{% if project.img %}
		<img src="{{ site.baseurl }}{{ project.img }}" alt="{{ project.name }}"/>
	{% else %}
		<img src="{{ site.baseurl }}/assets/work/sample.svg" alt="Sample image"/>
	{% endif %} -->
	{% if project.webpage %}
		{% assign url = project.webpage %}
	{% else %}
		{% assign url = project.repository %}
	{% endif %}
	<a class="project-elem-title" href="{{ url }}">{{ project.name | strip_html }}</a>
	<p class="project-elem-description">
		{{ project.description | strip_html }}
	</p>
	<div class="project-elem-meta">
		{% if project.language %}
			<span class="project-elem-language">{{ project.language }}</span>
		{% endif %}
		{% if project.repository %}
			<a href="{{ project.repository }}">Source</a>
		{% endif %}
		{% if project.website %}
			<a href="{{ project.website }}" title="{{ project.name }}">Website</a>
		{% endif %}
	</div>

</div>
